<h1>Welcome <%= @user.name %>, edit your info.</h1>

<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Name:</label>
      <input type="text" name="name" value=<%= @user.name%>><br>
    <label>Edit Username:</label>
      <input type="text" name="username" value=<%= @user.username%>><br>
    <label>Edit email:</label>
      <input type="text" name="email" value=<%= @user.email%>><br>
    <label for="password">Password</label>
      <input type="password" name="password" placeholder="password">
    <input type="submit" value="Update Account">
</form>

<br><br>

<form action="/users/<%= @user.id %>" method="post">
  <h3>You can delete your account here:</h3>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input style="background-color:red" type="submit" value="Delete Account">
</form>
