<h2>Hello, <%= @user.name %>, welcome to your profile.</h2><br>


<br>

<h3>Username: <%= @user.username %></h3>
<h3>Email: <%= @user.email %></h3>

<br>
<button style="width:150px;" onclick="window.location.href = '/users/<%= current_user.id %>/edit';">Edit Account Info</button>

<br>
<br>
<br>

<h3><u>My Pets</u></h3>
<p>Click you pet's name to view their info.</p>
<% @pets.each do |pet| %>
  <% if pet.owner_id == current_user.id %>
    <u><strong><a href="/pets/<%= pet.id %>"><%= pet.name %></a></strong></u>
    <br>
  <% end %>
<% end %>
  <br>
  <br>
<button style="width:150px;" onclick="window.location.href = '/pets/new';">Register New Pet</button>
